body{
	background-image:url("https://imgd.aeplcdn.com/664x374/n/cw/ec/122451/range-rover-sport-exterior-right-front-three-quarter-44.avif?isig=0&q=80");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	 margin-right: 700px;
	 
}